
APP_ENV=local
DB_HOST=database
DB_PORT=3306
DB_DATABASE=my-database
DB_USERNAME=db-username
DB_PASSWORD=123456
MYSQL_ROOT_PASSWORD=root123456

# These are user emails, needed for the inital User seeding.
USER_EMAIL_1=userx1@example.com
USER_EMAIL_2=userx2@example.com  
