/vendor
.env
.vscode
.idea
.phpunit.cache
/storage/*
!/storage/upload/
/storage/upload/**
!/storage/upload/.gitkeep
/storage/logs/myLogs.txt
/cache/*
!/cache/.gitkeep
# Ignore PHP CS Fixer cache file
.php-cs-fixer.cache