/vendor
.env
.vscode
.idea
.phpunit.cache
/storage/*
!/storage/upload/
/storage/upload/**
!/storage/upload/.gitkeep
/storage/logs/myLogs.txt
/cache/*
!/cache/.gitkeep
.php-cs-fixer.cache
/public/cache/*
!/public/cache/.gitkeep